<!DOCTYPE html>
<html>
    <body style="font-family: Arial, sans-serif; text-align: center;">
        <h1>Hello, <%= user.name %></h1>
        <hr/>
        <p>You have successfully logged in via <b><%= user.type %></b>.</p>
        <b><%= message %></b>
        <p><a href="/" style="text-decoration: none; padding: 5px 10px; background-color: #3498db; color: #fff; border-radius: 5px;">Back to Home</a></p>
        
    </body>
</html>